@font-face {
    font-family: 'Maven Pro';
    src: url('fonts/MavenPro-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('fonts/MavenPro-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('fonts/MavenPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('fonts/MavenPro-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('fonts/MavenPro-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('fonts/MavenPro-Black.ttf') format('truetype');
    font-weight: 900;
}

body {
    display: flex;
    flex-direction: column;
    font-family:  'Maven Pro', sans-serif;
    justify-content: space-between;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    width: 100%;
    align-items: center;
}

.header-left {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 24px;
    font-weight: 600;
    align-items: center;
}

.header-links {
    color: #E5E7EB;
    text-decoration: none;
}

.header-right {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    margin-right: 24px;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    margin-left: 12px;
    margin-right: 12px;
}